{% extends 'base.html' %}


{% block content %}
<manin class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            
            <form acction="/tasks/create" method='POST' class="card card-body">
                <h1 class="text-center">Create task</h1>
        
                {{error}}
                {% csrf_token %} 
                
                {{form}} 
                <br>
        
                <button class="btn btn-primary">
                    Save
                </button>
            </form>

        </div>
    </div>
</main>
{% endblock  %}